
body {
	background-image: url('images/fond_bois2.png');
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
	background-size: cover; 
    background-repeat: no-repeat;
}


header {
    position: relative; 
    background-color: rgba(255, 255, 255, 0.336);
    padding: 8px;                 /* Bordures intérieures */
    width: 93vw;
    left: 50%; 
    transform: translateX(-50%);
}


nav {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    justify-content: center;
}


nav ul {
    list-style-type: none;          /* Enlève les puces */
    justify-content: center;
}


nav ul li {
    display: inline-block;
    vertical-align: middle;
}


nav ul li a {
    vertical-align: middle;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(60, 34, 24, 0.736);
    font-size: 3vw;
    border-radius: 4px;
}


/*nav ul li a img {
    vertical-align: middle;
    padding: 2px;
    background-color: transparent;
    margin-left: 0;
}*/


.container {
    position: relative;
    min-height: 100vh; /* Pour que le conteneur s'étende sur toute la hauteur de la fenêtre */
}


main {
    background-color: rgba(255, 255, 255, 0.336);
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 60%;
}


main img {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto; 
    margin-right: auto; 
}


footer {
    position: relative;
    bottom: 1%;
    width: 98% /*98vw*/;
    text-align: left;
    left: 50%; /* Déplace le pied de page à 50% de la largeur de son conteneur */
    transform: translateX(-50%); /* Centre horizontalement le pied de page */
    background-color: rgba(255, 255, 255, 0.336);
    padding-top: 6px;
}


footer a {
    margin-left: 6px;
}


footer a img {
    height: 50px;
    width: auto;
    padding-bottom: 1px;
}


a {
    color: rgb(252, 252, 252);
}


a:hover {
	color: #000000;
}

