
body {
	background-image: url('images/fond_bois2.png');
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
	background-size: cover;
	/*background-position: center;*/ 
    background-repeat: no-repeat;
}


header {
    background-color: rgba(255, 255, 255, 0.336);
    padding: 2vh;                 /* Bordures intérieures */
}


nav {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}


nav ul {
    list-style-type: none;          /* Enlève les puces */
}


nav ul li {
    display: inline-block;
    margin-right: 20px; /* Pour ajouter un espacement entre les éléments */
    vertical-align: middle;
}


nav ul li a {
    vertical-align: middle;
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(60, 34, 24, 0.736);
    font-size: 3vw;
}


/*nav ul li a img {
    vertical-align: middle;
    padding: 2px;
    background-color: transparent;
    margin-left: 0;
}*/


.container {
    position: relative;
    min-height: 100vh; /* Pour que le conteneur s'étende sur toute la hauteur de la fenêtre */
}


footer {
    position: absolute;
    bottom: 1%;
    width: 98% /*98vw*/;
    text-align: center;
    left: 50%; /* Déplace le pied de page à 50% de la largeur de son conteneur */
    transform: translateX(-50%); /* Centre horizontalement le pied de page */
    background-color: rgba(255, 255, 255, 0.336);
}


a {
    color: rgb(252, 252, 252);
}


a:hover {
	color: #000000;
}

